/* ------------------------------------------- 
        Fonts
 ---------------------------------------------*/

 @font-face {
     font-family: "Industria";
     src: url(../fonts/Industria-Solid.otf);
 }
 @font-face {
    font-family: "FormataCondensed";
    src: url(../fonts/FormataCondensed.ttf);
}
@font-face {
    font-family: "FormataCondensedBold";
    src: url(../fonts/FormataCondensed_Bold.ttf);
}
@font-face {
    font-family: "FormataCondensedItalic";
    src: url(../fonts/FormataCondensed_Italic.ttf);
}

 /* ------------------------------------------- 
        Global Styles
 ---------------------------------------------*/



 .conspiracyxmmfo.sheet.actor .trash {
    width: 20px;
    text-align: right;
    padding-right: 5px;
 }



 .conspiracyxmmfo.sheet.actor .window-content,
 .conspiracyxmmfo.sheet.item .window-content {
    background: rgb(22, 22, 22);
    color: rgb(220, 220, 220);
}

.conspiracyxmmfo.sheet.actor .entity-link,
.conspiracyxmmfo.sheet.actor .content-link,
.conspiracyxmmfo.sheet.item .entity-link,
.conspiracyxmmfo.sheet.item .content-link {
   color: black;
}

.conspiracyxmmfo.sheet.actor button,
.conspiracyxmmfo.sheet.item button {
    color: rgb(231, 231, 231);
    background:rgb(85, 85, 85);
    border: 1px solid black;
    height: 25px;
    line-height: 10px;
}

.conspiracyxmmfo.sheet.actor input,
.conspiracyxmmfo.sheet.actor select,
.conspiracyxmmfo.sheet.item input,
.conspiracyxmmfo.sheet.item select {
    color: rgb(231, 231, 231);
}

.conspiracyxmmfo.sheet.item .window-content .editable {
    background: rgb(45, 51, 56);
}

.conspiracyxmmfo option {
    background: rgb(22, 22, 22);
}

.app.window-app.dialog .window-content {
    background: rgb(22, 22, 22);
}

.app.window-app.dialog .dialog-content {
    color: rgb(231, 231, 231);
    padding: 0 5px;
    background: rgb(41, 50, 59);
}

.app.window-app.dialog .dialog-buttons button {
    color: rgb(231, 231, 231);
    background: rgb(85, 85, 85);
    border: 1px solid black;
}

.window-header {
    background: rgb(22, 22, 22);
}

 .conspiracyxmmfo-dialog-menu {
     display: flex;
     flex-direction: column;
     gap: 5px;
     background: rgb(41, 50, 59);
     color: rgb(231, 231, 231);
 }

 .conspiracyxmmfo h1,
 .conspiracyxmmfo h2,
 .conspiracyxmmfo-dialog-menu h1,
 .conspiracyxmmfo-dialog-menu h2 {
     font-family: "Industria";
     width: 100%;
 }

 .conspiracyxmmfo-dialog-menu .menu-flex-container-row {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
 }

 .conspiracyxmmfo-dialog-menu .menu-flex-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0 0 20px 0;
     width: 50%;
     height: 100%;
     gap: 5px;
 }

 .conspiracyxmmfo-dialog-menu .vertical-column {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     text-align: center;
 }

 .conspiracyxmmfo-dialog-menu-text-box {
     display: flex;
     flex-direction: column;
     background: rgba(124, 118, 118, 0.493);
     padding: 5px;
 }

 .conspiracyxmmfo-dialog-menu .attribute-input {
     width: 100%;
 }

 .conspiracyxmmfo-dialog-menu .table-center-align {
     text-align: center;
 }

 .conspiracyxmmfo-dialog-menu .table-bold-text {
     font-weight: bold;
 }

 .conspiracyxmmfo-dialog-menu input,
 .conspiracyxmmfo-dialog-menu select {
     color: white;
     width: 100%;
 }

 .conspiracyxmmfo-dialog-menu option {
    background: rgb(41, 50, 59);
 }

 .conspiracyxmmfo-tags-flex-container,
 .conspiracyxmmfo-tags-flex-container-item {
     color: black;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     flex-wrap: wrap;
     gap: 5px;
     padding: 0 0 5px 0;
 }

 .conspiracyxmmfo-tags-flex-container div {
     background-color: rgba(131, 15, 15, 0.705);
     color: white;
     border-radius: 5px;
     padding: 0 5px;
     max-width: 100%;
 }

 .conspiracyxmmfo-tags-flex-container-item div {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    max-width: 100%;
 }

 .conspiracyxmmfo h2 {
     margin: 0;
     font-size: 22px;
 }

 .conspiracyxmmfo .table-left-align {
     text-align: left;
     padding: 0 0 0 10px;
 }

 .conspiracyxmmfo .header-with-button {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 5px;
 }

 .conspiracyxmmfo .header-with-button button {
     width: 30px;
 }

 .conspiracyxmmfo button:hover,
 .conspiracyxmmfo .item-name:hover,
 .conspiracyxmmfo .profile-img:hover {
     cursor: pointer;
 }

 .conspiracyxmmfo .item-name:hover {
     /* font-weight: bold; */
     color: rgb(255, 255, 255);
     filter: drop-shadow(0px 0px 6px #af010a);
 }

 .conspiracyxmmfo .item-name-flex-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 5px;
 }

 .conspiracyxmmfo .fa-dice-d20:hover {
     cursor: pointer;
     color: darkred;
 }

 .conspiracyxmmfo .table-center-align {
     text-align: center;
 }

.conspiracyxmmfo .table-flex-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conspiracyxmmfo .table-flex-cell input {
    width: 30px;
}

.conspiracyxmmfo .table-equipped {
    text-align: center;
    width: 50px;
}

.conspiracyxmmfo .item input {
    height: 15px;
    width: 15px;
}

.conspiracyxmmfo tbody tr:nth-child(even) {
    background: rgba(46, 46, 46, 0.541);
}

 /* ------------------------------------------- 
        Chat Message Defaults
 ---------------------------------------------*/

 .chat-message h1,
 .chat-message h2,
 .chat-message .rule-of-chat-text {
     font-family: "Industria";
 }

 .conspiracyxmmfo-chat-roll-table {
     text-align: center;
     font-weight: bold;
 }

 .conspiracyxmmfo-chat-roll-table thead tr th.w30pc,
 .conspiracyxmmfo-chat-roll-table tbody tr td.w30pc  {
     width: 32%;
 }

 .chat-message button {
     cursor: pointer;
 }

 .chat-message .message-header img {
    border-radius: 5px;
    border: 0.5px solid black;
    max-width: 80px;
    /* max-height: 50px; */
    margin-right: 4px;
  }

  

  .chat-message .message-header .message-sender .avatar:hover {
    cursor: default;
  }



  /* ------------------------------------------- 
        TinyMCE Editor
 ---------------------------------------------*/

 .editor h1,
 .editor h2 {
    font-family: "Industria";
 }

 .conspiracyxmmfo .bio-container .editor {
     height: 200px;
     width: 100%;
 }

 .conspiracyxmmfo .description-container .editor {
    min-height: 300px;
    width: 100%;
 }

 .conspiracyxmmfo .editor-content {
     min-height: 200px;
     max-height: 100%;
 }

 .conspiracyxmmfo .editor .tox-toolbar__group button {
    background: rgba(190, 190, 190, 0.692);
    color: black;
 }

 .conspiracyxmmfo .editor .tox-edit-area {
     background: rgba(255, 255, 255, 0.808);
 }

 /* ------------------------------------------- 
        Character Sidebar
 ---------------------------------------------*/

 .conspiracyxmmfo .sheet-flex-container {
     display: flex;
     flex-direction: row;
     align-items: top;
     justify-content: stretch;
     flex-wrap: nowrap;
     height: 100%;
     background: rgb(62, 64, 66);
 }

 .conspiracyxmmfo .sheet-sidebar {
     display: flex;
     flex-direction: column;
     min-width: 250px;
     height: 100%;
     border-right: 1px solid;
     padding: 0 5px;
     background: rgb(90, 93, 95);
 }

 .conspiracyxmmfo .sheet-sidebar input {
     text-align: center;
 }

 .conspiracyxmmfo .sheet-body {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     padding: 0 5px;
     gap: 10px;
 }
 
 .conspiracyxmmfo .header-container {
     position: relative;
     top: 0;
 }

 .conspiracyxmmfo .info-container {
    display: flex;
    flex-direction: column;
 }

 .conspiracyxmmfo .polaroid-container {
     position: relative;
 }

 .conspiracyxmmfo .polaroid {
     height: 250px;
     border: none;
     z-index: -1;
 }

 .conspiracyxmmfo .profile-img {
     position: absolute;
     /* top: 30px; */
     top: 31px;
     /* left: 32px; */
     left: 31.5px;
     border: 1px solid black;
     /* height: 153px; */
     height: 147.5px;
     /* width: 145px; */
     width: 147.5px;
     transform: rotate(-3deg);
     z-index: 1;
 }
 
 /*
 .conspiracyxmmfo #sheet-logo {
     position: absolute;
     top: 0;
     left: 0;
     height: 50px;
     border: none;
     z-index: +2;
 }
*/

 .conspiracyxmmfo .sheet-nav-container {
     position: absolute;
     bottom: 0;
     right: 0;
     background: rgba(41, 0, 0, 0.555);
     z-index: 5;
     font-family: "Industria";
     font-size: x-large;
     border-radius: 3px;
     padding: 2px;
 }



 
 .conspiracyxmmfo .sheet-nav-container details > summary {
    cursor: pointer;
 }
 
 .conspiracyxmmfo .sheet-nav-container #characterTypeSelect {
    font-size: large;
 }




 .conspiracyxmmfo .sheet-nav {
     display: flex;
     flex-direction: column;
     align-items: center;
     border: none !important;
 }

 .conspiracyxmmfo .sheet-nav a {
     padding: 0 10px;
 }

 .conspiracyxmmfo .sheet-nav .active {
     text-decoration: underline;
 }

 .conspiracyxmmfo .profile-tags-container {
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 3;
 }

 .conspiracyxmmfo .profile-tags-container .tags-flex-container {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
 }

 .conspiracyxmmfo .tags-flex-container .tag {
     border-radius: 5px;
     background:rgba(124, 118, 118, 0.493);
     color: darkred;
     padding: 5px;
     font-size: smaller;
 }

 .conspiracyxmmfo .xp-container {
     position: absolute;
     top: 0;
     right: 0;
     width: 50px;
     text-align: center;
 }

 .conspiracyxmmfo .xp-flex-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .conspiracyxmmfo .charname {
     width: 100%;
 }

 .conspiracyxmmfo .attribute-container {
    margin: 0 0 10px 0;
 }

 .conspiracyxmmfo .resource-container {
     display: flex;
     flex-direction: column;
     padding: 0 5px;
 }

 .conspiracyxmmfo .resource {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     flex-wrap: nowrap;
     border-bottom: 1px solid rgb(145, 145, 145);
     padding: 5px 0;
 }

 .conspiracyxmmfo .resource-values {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     gap: 5px;
     width: 50%;
 }

 .conspiracyxmmfo .resource .attribute input {
     width: 75%;
     height: 20px;
     color: white;
 }

 .conspiracyxmmfo .resource .secondaryAttribute input {
    width: 50px;
    height: 20px;
    color: white;
 }

 .conspiracyxmmfo .resource button {
     width: 50%;
     height: 25px;
     line-height: 10px;
     color: white;
     border: 1px solid black;
 }

 .conspiracyxmmfo #characterTypeSelect {
     font-family: "Industria";
     font-size: x-large;
     text-align: center !important;
 }

 .conspiracyxmmfo #attributes-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     gap: 5px;
 }

  /* ------------------------------------------- 
        Character Body Content
 ---------------------------------------------*/

 .conspiracyxmmfo .bio-container {
     display: flex;
     flex-direction: column;
     border-bottom: 1px solid;
 }

 .conspiracyxmmfo .skill-item-container {
     display: flex;
     flex-direction: row;
     align-items: top;
     gap: 10px;
 }

 .conspiracyxmmfo .qualities-container,
 .conspiracyxmmfo .drawbacks-container,
 .conspiracyxmmfo .skills-container,
 .conspiracyxmmfo .powers-container {
     width: 50%;
     border-radius: 3px;
 }

 .conspiracyxmmfo .equipment-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 5px;
     margin: 0 0 5px 0;
     background: rgba(124, 118, 118, 0.493);
 }

 .conspiracyxmmfo .encumbrance-resource {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-family: "Industria";
 }

 .conspiracyxmmfo .encumbrance-resource div {
     font-size: 20px;
 }

 .conspiracyxmmfo .weapon-table,
 .conspiracyxmmfo .item-table,
 .conspiracyxmmfo .qualities-container,
 .conspiracyxmmfo .drawbacks-container,
 .conspiracyxmmfo .skills-container,
 .conspiracyxmmfo .powers-container,
 .conspiracyxmmfo .locations-table,
 .conspiracyxmmfo .facilities-table,
 .conspiracyxmmfo .staff-table,
 .conspiracyxmmfo .weaponery-table,
 .conspiracyxmmfo .gear-table,
 .conspiracyxmmfo .vehicles-table,
 .conspiracyxmmfo .science-table,
 .conspiracyxmmfo .medical-table,
 .conspiracyxmmfo .restricted-table {
     margin: 10px 0 0 0;
     background: rgba(78, 78, 78, 0.603);
 }

 .conspiracyxmmfo .armor-button-cell button {
     max-width: 75%;
     height: 18px;
     line-height: 10px;
 }

/* ------------------------------------------- 
        Item Sheets
 ---------------------------------------------*/

 .conspiracyxmmfo .item-sheet-container {
    padding: 0 5px;
    background: rgb(41, 50, 59);
    height: 100%;
 }

 .conspiracyxmmfo .item-sheet-header {
     display: flex;
     flex-direction: row;
 }

 .conspiracyxmmfo .item-header-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     gap: 10px;
 }

 .conspiracyxmmfo .item-img {
     width: 50px;
     height: 50px;
     border: none;
 }

 .conspiracyxmmfo .item-resource-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 10px;
     padding: 0 0 10px 0;
     text-align: center;
 }

 .conspiracyxmmfo .description-container table th {
     width: 50%;
     text-align: left;
 }

 .conspiracyxmmfo .description-container table input {
     text-align: center;
 }

 .conspiracyxmmfo .description-container {
     display: flex;
     flex-direction: row;
     height: 100%;
 }

 .conspiracyxmmfo .item-description-sidebar {
     width: 100%;
     padding: 0 5px;
     border-left: 1px solid rgb(231, 231, 231);
 }

 .conspiracyxmmfo .item-attribute-sidebar {
     min-width: 40%;
     height: 100%;
     padding: 0 5px;
 }

 .conspiracyxmmfo .item-attribute-sidebar table select,
 .conspiracyxmmfo .item-attribute-sidebar table input {
     width: 100%;
     height: 20px;
 }

 .conspiracyxmmfo .item-attribute-flex-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }

 /* ------------------------------------------- 
        Limited Permission Sheets
 ---------------------------------------------*/

 .conspiracyxmmfo .blur {
     filter: blur(5px);
 }

  /* ------------------------------------------- 
        Light Theme Settings
 ---------------------------------------------*/

 .theme-light .conspiracyxmmfo.sheet.actor .window-content,
 .theme-light .conspiracyxmmfo.sheet.item .window-content {
    background: url('../images/parchment.jpg');
    color: black;
}

.theme-light .conspiracyxmmfo.sheet.actor .entity-link,
.theme-light .conspiracyxmmfo.sheet.actor .content-link,
.theme-light .conspiracyxmmfo.sheet.item .entity-link,
.theme-light .conspiracyxmmfo.sheet.item .content-link {
   color: black;
}

.theme-light .conspiracyxmmfo.sheet.actor button,
.theme-light .conspiracyxmmfo.sheet.item button {
    color: black;
    background: none;
    border: 1px solid black;
}

.theme-light .conspiracyxmmfo.sheet.actor input,
.theme-light .conspiracyxmmfo.sheet.actor select,
.theme-light .conspiracyxmmfo.sheet.item input,
.theme-light .conspiracyxmmfo.sheet.item select {
    color: rgb(0, 0, 0);
}

.theme-light .conspiracyxmmfo.sheet.item .window-content .editable {
    background: none;
}

body.theme-light .conspiracyxmmfo option {
    background: rgb(228, 228, 228);
}

.theme-light .app.window-app.dialog .window-content {
    background: url('../images/parchment.jpg');
}

.theme-light .app.window-app.dialog .dialog-content {
    color: rgb(0, 0, 0);
    background: none;
}

.theme-light .app.window-app.dialog .dialog-buttons button {
    color: rgb(0, 0, 0);
    background: none;
    border: 1px solid black;
}

body.theme-light .conspiracyxmmfo .sheet-flex-container {
    background: none;
}

body.theme-light .conspiracyxmmfo .sheet-sidebar {
    background: none;
}

body.theme-light .conspiracyxmmfo .weapon-table,
body.theme-light .conspiracyxmmfo .item-table,
body.theme-light .conspiracyxmmfo .qualities-container,
body.theme-light .conspiracyxmmfo .drawbacks-container,
body.theme-light .conspiracyxmmfo .skills-container,
body.theme-light .conspiracyxmmfo .powers-container,
body.theme-light .conspiracyxmmfo .locations-table,
body.theme-light .conspiracyxmmfo .facilities-table,
body.theme-light .conspiracyxmmfo .staff-table,
body.theme-light .conspiracyxmmfo .weaponery-table,
body.theme-light .conspiracyxmmfo .gear-table,
body.theme-light .conspiracyxmmfo .vehicles-table,
body.theme-light .conspiracyxmmfo .science-table,
body.theme-light .conspiracyxmmfo .medical-table,
body.theme-light .conspiracyxmmfo .restricted-table {
    background: rgba(196, 196, 196, 0.603);
}

body.theme-light .conspiracyxmmfo tbody tr:nth-child(even) {
    background: rgba(218, 218, 218, 0.541);
}

body.theme-light .conspiracyxmmfo .sheet-nav-container {
    background: rgba(114, 114, 114, 0.616);
}

body.theme-light .conspiracyxmmfo .item-description-sidebar {
    border-left: 1px solid rgb(0, 0, 0);
}

.theme-light .app.window-app.dialog .window-content {
    background: url('../images/parchment.jpg');
}

.theme-light .app.window-app.dialog .dialog-content {
    color: black;
    background: none;
}

.theme-light .app.window-app.dialog .dialog-buttons button {
    color: black;
    background: none;
    border: 1px solid black;
}

.theme-light .conspiracyxmmfo.window-app.dialog .conspiracyxmmfo-dialog-menu {
     background: none;
     color: black;
 }

 .theme-light .conspiracyxmmfo.window-app.dialog .conspiracyxmmfo-dialog-menu-text-box {
    background: none;
}

.theme-light .conspiracyxmmfo.window-app.dialog input,
.theme-light .conspiracyxmmfo.window-app.dialog select {
    color: black;
}

body.theme-light .conspiracyxmmfo .item-name:hover {
    /* font-weight: bold; */
    color: rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 6px #af010a);
}




/*
var myVar = 4;
document.body.className = (myVar == 5 ? "aegis" : "ndd");
*/

/*
#logo {
    content: url("/systems/conspiracyxmmfo/images/conx_logo_normal.png");
    width: 100px;
    height: 25px;
    margin-left: 9px;
    margin-top: 8px;
  }

  body.conx-aegis #pause > img {
    content: url("/systems/conspiracyxmmfo/images/aegis.png");
    height: 192px;
    width: 192px;
    top: -45px;
    left: calc(50% - 96px);
  }
  
  body.conx-ndd #pause > img {
    content: url("/systems/conspiracyxmmfo/images/ndd.png");
    height: 192px;
    width: 192px;
    top: -45px;
    left: calc(50% - 96px);
  }
*/



  .conspiracyxmmfo .small-input {
    width: 10%;
  }


  .conspiracyxmmfo .influence-logo {
    width: 20px;
  }

  .conspiracyxmmfo .influence-logo img {
    border: none;
  }


  
  /* ------------------------------------------- 
        Journals
  ------------------------------------------- */

  .journal-header input,
  .journal-entry-page h1,
  .journal-entry-page h2,
  .journal-entry-page h3,
  .journal-entry-page h4,
  .journal-entry-page h5,
  .journal-entry-page h6 {
    font-family: "Industria";
  }